/* body */
body {
    background-color: gray;
}

/* body p , h2 {
    color: white;
} */

#sidebar {
position: fixed;
top: 0;
left: -200px;
width: 200px;
height: 100%;
background-color: #333;
padding: 20px;
transition: left 0.5s ease;
}
#sidebar.show {
left: 0;
}

#sidebar ul {
list-style-type: none;
padding: 0;
margin: 0;
}
#sidebar li {
margin-bottom: 10px;
}
#sidebar li a {
color: #fff;
text-decoration: none;
}
#sidebar li a:hover {
color: #ccc;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    transition: background-color 0.5s ease;
    }
    #back-to-top:hover {
    background-color: #555;
}


.header h1{
    margin-left: 100px;
}

.toggle-btn{
    margin-top: 15px;
}